@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 11% 95%;
    --foreground: 25 35% 26%;
    
    --card: 36 11% 95%;
    --card-foreground: 25 35% 26%;
    
    --popover: 36 11% 95%;
    --popover-foreground: 25 35% 26%;
    
    --primary: 43 100% 55%;
    --primary-foreground: 25 35% 26%;
    
    --secondary: 36 11% 90%;
    --secondary-foreground: 25 35% 26%;
    
    --muted: 36 11% 90%;
    --muted-foreground: 25 35% 50%;
    
    --accent: 43 100% 55%;
    --accent-foreground: 25 35% 26%;
    
    --destructive: 0 84% 50%;
    --destructive-foreground: 36 11% 95%;
    
    --border: 25 35% 80%;
    --input: 25 35% 80%;
    --ring: 43 100% 55%;
    
    --radius: 1rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
